#SelectedLayoutWrapper {
  display: flex;
  flex-direction: column;
  width: 82%;
  row-gap: 35px;
}

#UpperControleWrapper {
  display: flex;
  justify-content: space-between;
}


@media (max-width:570px) {
  #SelectedLayoutWrapper {
    height: 93%;
    width: 100%;
  }

  #UpperControleWrapper {
    align-items: center;
  }
}