#TittleBarWrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 92px;
    margin-top: 48px;
}

#TittleBar{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E435D;
}

#MiniTittleBar{
    font-family: 'Poppins';
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #3E435D;

}

#SelectedTittleWrapper{
    display: flex;
    flex-direction: column;
}


#CustomerTittleWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    column-gap: 8px;
}

#CustomerTittleWrapper >label{
    font-family: 'Poppins';
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: left;

}
