#ModalPopUpWrapper {
  background-color: white;
  width: 50%;
  height: 505px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  left: 25%;
  align-items: center;
}
.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 2; /* Ensure the backdrop is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}


#ContentPopUp {
  margin-top: 30px;
  height: 58%;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}


#Line{
    position: relative;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 100%;
    border-top: 0.5px solid #DAD5D5    ;
}

@media (max-width:570px) {
  #ModalPopUpWrapper {
    width: 90%;
    left: 5%;
    top: 10%;
  }

}