#BooksGridWrapper{
    display: flex;
    width: 100%;
    height: 789px;
    flex-wrap: wrap;
    overflow: auto;
    column-gap: 24px;
    row-gap: 16px;
}

#BooksGridWrapper >div{
    width: 32.2%;
    height: 27.12%;
}

@media (max-width : 1000px) {
    #BooksGridWrapper{
        flex-direction: column;
        align-items: center;
        flex-wrap: unset;
    }

    #BooksGridWrapper >div{
        width: 87%;
        height: 45%;
    }
}