.Card {
  width: 32%;
  height: 214px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-sizing: border-box;
}

.imageWrapper {
  width: 5vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebe1;
  border-radius: 8px;
}
.SmallIamgesContent{
  width: 46%;
}
.IamgesContent {
    width: 100%;
    height: 100%;

}

.InfoWrapper {
  display: flex;
  flex-direction: column;
  height: 76%;
  width: 63%;
  align-items: start;
  justify-content: start;
  row-gap: 7px
  ;
}

.InnerInfoWrapper > label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.InnerInfoWrapper > p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.StoresWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 100%;


}


.StoresItems {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
}

.Item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff6f1;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.Item > label {
  text-align: center;
}

.Item > button {
  border: none;
  width: 50%;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #2374bf;
  cursor: pointer;
}


@media (max-width:1000px) {
  .StoresWrapper {
    display: none;

  }

  .Card{
    flex-direction: column;
  }
}

@media (max-width:570px) {
  .InfoWrapper {
  justify-content: center;
  }
}