#ButtonWrapper {
  height: 40px;
  color: white;
  background-color: #d86128;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0 10px;
  min-width: 132px;
}


@media (max-width:570px) {
  #ButtonWrapper {
    font-size: 12px;
  }
}