#SearchBarWrapper {
  display: flex;
  column-gap: 24px;
  flex-direction: row;

  justify-content: unset;
  align-items: unset;
  row-gap: unset;
}

#BooksTittle {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

#SearchInput {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  border: 1px solid #e2e2e2;
  background-color: #f1f1f1;
  background-color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

#SearchInput:focus {
  outline: none;
  border-bottom: 1px solid red;
}

#SearchContainer {
  display: flex;
  align-items: center;
}

#SearchIcon {
  position: relative;
  left: 39px;
  width: 30px;
  height: 30px;
}
@media (max-width:570px) {
  #SearchBarWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  #SearchIcon {
    display: none;
  }

  #SearchInput {
  padding-left: 10px;
  }
}