@font-face {
    font-family: "Poppins";   /*Can be any text*/
    src: local("Poppins-Bold"),
      url("./fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Poppins";   /*Can be any text*/
    src: local("Poppins-Regular"),
      url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";   /*Can be any text*/
    src: local("Poppins-Medium"),
      url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
  }


:root{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#root{
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    column-gap: 33px;
}